
@{
    ViewData["Title"] = "Search Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SearchResultViewModel

    <div class="text-left">

        @if (Model.IsFound)
        {
            <h1>Success</h1>
            <div>
                @Html.LabelFor(model => model.ElapsedTime, new { @class = "col-form-label col-md-2" })
                @Model.ElapsedTime.ToString()
            </div>
            <div>
                @Html.LabelFor(model => model.CountOfImages, new { @class = "col-form-label col-md-3" })
                @Model.CountOfImages.ToString()
            </div>
            <div class="col-form-label">
                <img src="@Url.Content(Model.RelativeImgPath)" alt="Image" height="400" width="400" />
            </div>
        }
        else
        {
            <h1>Nothing found</h1>
        }
    </div>

